<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puerto Rican Motel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('checkin') }}">Check-In</a>
        <a href="{{ url_for('view_checkins') }}">View Check-Ins</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>

    <div class="content">
        <header class="header">
            <h1 class="header-title">Linda Vista Motel Dashboard</h1>
        </header>
        <h2>Dashboard</h2>
        <main class="dashboard">
            <div class="card">
                <h2>Check-Ins</h2>
                <p>Today's Check-Ins: {{ cars_today }}</p>
                <p>This Week's Check-Ins: {{ cars_this_week }}</p>
            </div>
            <div class="card">
                <h2>Profit</h2>
                <p>Today's Profit: ${{ profit_today }}</p>
                <p>This Week's Profit: ${{ profit_this_week }}</p>
            </div>

        </main>
    </div>
</body>
</html> 